# Build directories
/TicketAcara/build/
/TicketParking/build/
/TicketServer/build/
/TicketService/build/
/TicketService/build/web
/TicketService/build/web/WEB-INF/classes

# Distribution directories
/TicketAcara/dist/
/TicketParking/dist/
/TicketServer/dist/
/TicketService/dist/

# NetBeans private properties
/TicketAcara/nbproject/private/private.properties
/TicketAcara/nbproject/private/private.xml
/TicketParking/nbproject/private/private.properties
/TicketParking/nbproject/private/private.xml
/TicketServer/nbproject/private/private.properties
/TicketServer/nbproject/private/private.xml
/TicketService/nbproject/private/private.properties
/TicketService/nbproject/private/private.xml

# Specific class file
/TicketService/build/web/WEB-INF/classes/com/ticket/services/TicketWebService.class
/TicketParking/dist/
